<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>route</title>
</head>
<body>
    <form method="POST" action="/">
        <input placeholder="Write your name" name="name"><br><br>
        <input placeholder="ENter your email" name="email"><br><br>
        <input placeholder="Enter your number" name="number"><br><br>
        <button >
            register
        </button>
</body>
</html>